<h1>Editing user</h1>

<%= form_for(@user_update_form, url: user_path(@user_update_form.user)) do |f| %>
  <% if @user_update_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_update_form.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user_update_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <h2>Profile</h2>

  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, rows: 5, cols: 40 %>
  </div>

  <div class="actions">
    <%= f.submit "Update User" %>
  </div>
<% end %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
