<h1>New user</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <%= f.fields_for :profile, @user.profile do |ff| %>

    <h2>Profile</h2>

    <div class="field">
      <%= ff.label :nickname %><br>
      <%= ff.text_field :nickname %>
    </div>

    <div class="field">
      <%= ff.label :bio %><br>
      <%= ff.text_area :bio, rows: 5, cols: 40 %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', users_path %>
